.bx-number-stepper {
    text-align: center;

    > div {
        display: flex;
        align-items: center;

        span {
            flex: 1;
            display: inline-block;
            min-width: 40px;
            font-family: var(--bx-monospaced-font);
            font-size: 13px;
            margin: 0 4px;
        }

        button {
            flex-shrink: 0;
            border: none;
            width: 24px;
            height: 24px;
            margin: 0;
            line-height: 24px;
            background-color: var(--bx-default-button-color);
            color: #fff;
            border-radius: 4px;
            font-weight: bold;
            font-size: 14px;
            font-family: var(--bx-monospaced-font);

            &:hover {
                @media (hover: hover) {
                    background-color: var(--bx-default-button-hover-color);
                }
            }

            &:active {
                background-color: var(--bx-default-button-hover-color);
            }

            &:disabled + span {
                font-family: var(--bx-title-font);
            }
        }
    }

    input[type="range"] {
        display: block;
        margin: 8px 0 2px auto;
        min-width: 180px;
        width: 100%;
        color: #959595 !important;
    }

    input[type=range]:disabled, button:disabled {
        display: none;
    }

    &[data-disabled=true], &[disabled=true] {
        input[type=range], button {
            display: none;
        }
    }
}
